################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebDemoApp/.vs/WebDemoApp
/WebDemoApp/WebDemoApp/obj
/WebDemoApp/WebDemoApp/bin/Debug/net5.0
